.over {
    margin: 0;
    padding: 0;
    height: 95vh;
    text-align: center;
    justify-content: center;
}

.content {
    margin: 0% 25%;
    width: 50%;
    display: grid;
    grid-template-rows: 25% 50% 25%;
}

.second {
    margin: 0;
    padding: 2%;
    text-align: center;
}

.second .strong {
    padding-top: 2%;
    font-size: 25px;
    font-family: verdana;
    font-weight: bold;
    line-height: 1.5;
}